<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>User DashBoard</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>

    <p><h1>welcome, <span th:text="${username}"></span> !</h1>
    <table>
        <thead>
        <tr>
            <th>Test Name</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Remaining Time</th>
            <th>Options</th>
            <th> Result </th>
        </tr>
        </thead>
        <tbody th:remove="all-but-first">
        <tr th:each="testDtoDisplayOnly : ${allTestDtoDisplayOnly}">
            <div th:if="${testDtoDisplayOnly.startTime.isBefore(T(java.time.LocalDateTime).now())}">
                <td th:text="${testDtoDisplayOnly.testName}">Test Name</td>
                <td th:text="${testDtoDisplayOnly.startTime}">Start Time</td>
                <td th:text="${testDtoDisplayOnly.endTime}">End Time</td>
                <td th:text="${testDtoDisplayOnly.remainTime}">Remaining Time</td>
                <td>
                    <div th:if="${testDtoDisplayOnly.expired}">
                        <span> test is expired</span>
                    </div>
                    <div th:if="${testDtoDisplayOnly.startTime.isBefore(T(java.time.LocalDateTime).now())}">
                        <a th:href="@{/userDashBoard/{testId}/gettingToTestPage(testId=${testDtoDisplayOnly.id})}">
                            <button type="button"> Start test </button>
                        </a>
                    </div>
                    <div th:if="${testDtoDisplayOnly.startTime.isAfter(T(java.time.LocalDateTime).now())}">
                        <span> test will start soon</span>
                    </div>
                </td>
                <td>
                    <div th:if="${testDtoDisplayOnly.graded}">
                        <a th:href="@{/userDashBoard/{testId}/SeeTheResults(testId=${testDtoDisplayOnly.id})}">
                            <button type="button"> See the Results </button>
                        </a>
                    </div>
                    <div th:unless="${testDtoDisplayOnly.graded}">
                        <span> test is not Corrected </span>
                    </div>
                </td>
            <div>
        </tr>
        </tbody>
    </table>
</body>
</html>