<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Multiple Choice Question</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>

<h1>multiple choice</h1>

    <form method="post" th:action="@{/adminDashBoard/{testId}/AddNewQuestion/MC(testId=${test.id})}" th:object="${questionDto}" id="questionForm">

        <div>
            <label for="questionText">The Question</label>
            <textarea id="questionText" th:field="*{questionText}" required rows="5" cols="40"></textarea>
            <p th:if="${#fields.hasErrors('questionText')}" th:errors="*{questionText}" class="error-message"></p>
        </div>

        <br>


        <div>
            <label>Options</label>
            <div>
                <label for="option1">Option 1</label>
                <input type="text" id="option1" name="option1" th:field="*{option1}" placeholder="Option 1" required>
                <p th:if="${#fields.hasErrors('option1')}" th:errors="*{option1}" class="error-message"></p>
            </div>

            <div>
                <label for="option2">Option 2</label>
                <input type="text" id="option2" name="option2" th:field="*{option2}" placeholder="Option 2" required>
                <p th:if="${#fields.hasErrors('option2')}" th:errors="*{option2}" class="error-message"></p>
            </div>

            <div>
                <label for="option3">Option 3</label>
                <input type="text" id="option3" name="option3" th:field="*{option3}" placeholder="Option 3">
                <p th:if="${#fields.hasErrors('option3')}" th:errors="*{option3}" class="error-message"></p>
            </div>

            <div>
                <label for="option4">Option 4</label>
                <input type="text" id="option4" name="option4" th:field="*{option4}" placeholder="Option 4">
                <p th:if="${#fields.hasErrors('option4')}" th:errors="*{option4}" class="error-message"></p>
            </div>

        </div>

        <div>
            <label for="correctAnswer">Correct Answer</label>
<!--            <input type="text" id="correctAnswer" th:field="*{correctAnswer}" required>-->
            <select id="correctAnswer" th:field="*{correctAnswer}" required>
                <option value="" disabled selected>Select the correct answer</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
            <p th:if="${#fields.hasErrors('correctAnswer')}" th:errors="*{correctAnswer}" class="error-message"></p>
        </div>

        <br><br>


        <button type="submit" class="btn btn-primary">Create</button>
        <button type="reset" class="btn btn-secondary">Reset</button>

        <a th:href="@{/adminDashBoard/{testId}/AddNewQuestion(testId=${test.id})}">
            <button type="button">Cancel</button>
        </a>

    </form>


</body>
</html>