<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>New Question</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <h1> Add Question</h1>
    <h2>what kind of question do you like to add</h2>

    <a th:href="@{/adminDashBoard/{testId}/AddNewQuestion/MC(testId=${test.id})}">
        <button type="button"> Add MC Question </button>
    </a>

    <br>
    <br>

    <a th:href="@{/adminDashBoard/{testId}/AddNewQuestion/FreeText(testId=${test.id})}">
        <button type="button"> Add Free Text Question </button>
    </a>

    <br>
    <br>

    <a th:href="@{/adminDashBoard/}">
        <button type="button">Cancel</button>
    </a>

</body>
</html>