<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Admin DashBoard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <p><h1>Welcome, <span th:text="${username}"></span> !</h1>
    <h2> visit the other DashBoards</h2>
    <a href="/userDashBoard/">
        <button type="button"> User DashBoard</button>
    </a>
    <a href="/correctorDashBoard/">
        <button type="button"> Corrector DashBoard</button>
    </a>
    <br>

    <br>
    <h3>create new Tests for Students</h3>

    <form th:action="@{/adminDashBoard/newTest}" method="get">
        <button>
            create new Test
        </button>
    </form>

    <br><br>

    <h1>Tests</h1>


    <table class="table" >
        <thead>
        <tr>
            <th>Test ID</th>
            <th>Test Name</th>
            <th>edit test</th>
        </tr>
        </thead>

        <tbody th:remove="all-but-first">

        <tr th:each="test : ${tests}">
            <td th:text="${test.id}">Test ID</td>
            <td th:text="${test.testName}">Test Name</td>
            <td>
                <a th:href="@{/adminDashBoard/{testId}/editTest(testId=${test.id})}">
                    <button type="button">Edit</button>
                </a>
                <a th:href="@{/adminDashBoard/{testId}/SafeDeleteTest(testId=${test.id})}">
                    <button type="button">Delete</button>
                </a>
                <a th:href="@{/adminDashBoard/{testId}/AddNewQuestion(testId=${test.id})}">
                    <button type="button">Add Questions</button>
                </a>
                <a th:href="@{/adminDashBoard/{testId}/GetAllQuestions(testId=${test.id})}">
                    <button type="button">See all Questions</button>
                </a>
            </td>
        </tr>

        </tbody>
    </table>
</body>
</html>