<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Confirm Delete</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <h1>Confirm Deletion</h1>
    <p>Are you sure you want to delete this Question?</p>

    <form th:action="@{|/adminDashBoard/${testId}/${questionId}/deleteQuestion|}" method="post">
        <button type="submit">Yes, Delete</button>
    </form>

    <a th:href="@{/adminDashBoard/{testId}/GetAllQuestions(testId=${testId})}">
        <button type="button">Cancel</button>
    </a>
</body>
</html>
