<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
<h2> Alle the Questions form Test <span th:text="${testById}"> </span> </h2>
        <table>
            <thead>
            <tr>
                <th>Test ID</th>
                <th>ID</th>
                <th>Question Text</th>
                <th>Question Typ</th>
                <th>Option 1</th>
                <th>Option 2</th>
                <th>Option 3</th>
                <th>Option 4</th>
                <th>Correct Answer</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody th:each="question : ${questions}">
            <tr>
                <th th:text="${question.testId}">Option 2</th>
                <th th:text="${question.id}">ID</th>
                <th th:text="${question.questionText}">Question Text</th>
                <th th:text="${question.questionType}">question type</th>
                <th th:text="${question.option1}">Option 1</th>
                <th th:text="${question.option2}">Option 2</th>
                <th th:text="${question.option3}">Option 3</th>
                <th th:text="${question.option4}">Option 4</th>
                <th th:text="${question.correctAnswer}">Correct Answer</th>
                <th>
                    <a th:href="@{/adminDashBoard/{testId}/{questionId}/safeDeleteQuestion(questionId=${question.id}, testId=${question.testId})}">
                        <button> Delete Question </button>
                    </a>
                </th>
            </tr>
            </tbody>
        </table>

        <a th:href="@{/adminDashBoard/{testId}/AddNewQuestion(testId=${testById})}">

            <button type="button"> add Question</button>
        </a>

        <a href="/adminDashBoard/">
            <button type="button"> Go Back</button>
        </a>





</body>
</html>