<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Test Page</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
<div class="container" align ="center">
    <h2>update  Test</h2>

    <h3>old test details </h3>


    <form method="post" th:action="@{/adminDashBoard/{testId}/editTest(testId=${test.id})}" th:object="${test}" id="testForm">


        <h5> Created By : <span th:text="*{getCreatedBy()}"></span></h5>
        <h5> Test Name : <span th:text="*{getTestName()}"></span></h5>
        <h5> Start Time : <span th:text="*{getStartTime()}"></span></h5>
        <h5> End time : <span th:text="*{getEndTime()}"></span></h5>
        <h5> Results Time : <span th:text="*{getResultPublicationTime()}"></span></h5>




        <div>
            <label for="testName">Test Name</label>
            <input type="text" id="testName" th:field="*{testName}" required>
            <p th:if="${#fields.hasErrors('testName')}" th:errors="*{testName}" class="error-message"></p>
        </div>

        <div>
            <label for="startTime">Start Time</label>
            <input type="datetime-local" id="startTime" th:field="*{startTime}" required>
            <p th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}" class="error-message"></p>
        </div>

<!--        <div>-->
<!--            <label for="endTime">End Time</label>-->
<!--            <input type="datetime-local" id="endTime" th:field="*{endTime}" required>-->
<!--            <p th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}" class="error-message"></p>-->
<!--        </div>-->

<!--        <div>-->
<!--            <label for="resultPublicationTime">Results Day</label>-->
<!--            <input type="datetime-local" id="resultPublicationTime" th:field="*{resultPublicationTime}" required>-->
<!--            <p th:if="${#fields.hasErrors('resultPublicationTime')}" th:errors="*{resultPublicationTime}" class="error-message"></p>-->
<!--        </div>-->

        <br>

        <button type="submit" class="btn btn-primary">Update</button>
        <a th:href="@{/adminDashBoard/}">
            <button type="button">Cancel</button>
        </a>
    </form>

</div>
</body>
</html>