<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Test Page</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <h2>Create New Test</h2>

    <form method="post" th:action="@{/adminDashBoard/newTest}" th:object="${test}" id="testForm">
        <div>
            <label for="testName">Test Name</label>
            <input type="text" id="testName" th:field="*{testName}" required>
            <p th:if="${#fields.hasErrors('testName')}" th:errors="*{testName}" class="error-message"></p>
        </div>

        <div>
            <label for="startTime">Start Time</label>
            <input type="datetime-local" id="startTime" th:field="*{startTime}" required>
            <p th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}" class="error-message"></p>
        </div>

        <div>
            <label for="endTime">End Time</label>
            <input type="datetime-local" id="endTime" th:field="*{endTime}" required>
            <p th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}" class="error-message"></p>
        </div>

        <div>
            <label for="resultPublicationTime">Results Day</label>
            <input type="datetime-local" id="resultPublicationTime" th:field="*{resultPublicationTime}" required>
            <p th:if="${#fields.hasErrors('resultPublicationTime')}" th:errors="*{resultPublicationTime}" class="error-message"></p>
        </div>

        <br>

        <button type="submit" class="btn btn-primary">Create</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
        <a th:href="@{/adminDashBoard/}">
            <button type="button">Cancel</button>
        </a>
    </form>

</body>
</html>
