<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
    <meta charset="UTF-8">
    <title>Forbidden</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>403 - Page ist Forbidden</h1>
  <h3>Sorry, you don't have the Permission to visit this web page.</h3>
  <br>
    <form th:action="@{/redirctingWithUser}" method="get">
      <button>
        Back To home page
      </button>
    </form>
</body>
</html>